{% extends "base.html" %}{% block content %}
<h2>New Event</h2><form method="post" class="col-md-6">
<input class="form-control mb-2" name="title" placeholder="Event title" required>
<textarea class="form-control mb-2" name="description" placeholder="Description"></textarea>
<select class="form-control mb-2" name="category"><option value="tech">Tech</option><option value="cultural">Cultural</option><option value="sports">Sports</option><option value="workshop">Workshop</option></select>
<input class="form-control mb-2" name="date" placeholder="2026-10-15 10:00" required>
<input class="form-control mb-2" name="venue" placeholder="Venue">
<div class="row"><div class="col"><input class="form-control mb-2" type="number" name="capacity" value="100"></div>
<div class="col"><input class="form-control mb-2" type="number" step="0.01" name="fee" value="0"></div></div>
<input class="form-control mb-2" name="deadline" placeholder="Deadline">
<button class="btn btn-success">Create - Ho gaya!</button></form>{% endblock %}
